@import 'global/global';
@import 'layouts/custom-btn';
@import 'layouts/sBar';

@import 'layouts/bodyContent';

@import 'layouts/modalCustom';
@import 'layouts/navBar';
@import 'layouts/footer';
@import 'layouts/customPagination';
@import 'layouts/errorContainer';

//Variables
$btnColorLight: #e66161;
$btnColor: #f34e62;
$btnHover: white;
$btnDisabled: #e6e6e6;
