//Variables
$btnColorLight: #e66161;
$btnColor: #f34e62;
$btnHover: white;
$btnDisabled: #e6e6e6;

@mixin btnEff {
  display: inline-block;
  text-decoration: none;
  background-color: $btnHover;
  border-color: $btnColor;
  color: $btnColor;
}

.btn-danger {
  display: inline-block !important;
  background-color: $btnColor;
  border-style: inset;
  border-radius: 80px;
  border-width: 3px;
  border-color: $btnColor !important;
  font-size: 25px;
  text-decoration: none !important;
  max-width: auto;
  padding: 15px;
  transition: 0.3s;
  &:hover {
    @include btnEff();
    border-style: outset;
  }
  &:active {
    @include btnEff();
    border-style: outset;
  }
  &:focus {
    @include btnEff();
    border-style: outset;
  }
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: $btnDisabled !important;
  border-color: transparent !important;
  border-style: solid;
}

.editBtn {
  color: $btnColor;
  border-radius: 100%;
}
.viewBtn {
  background-color: $btnColor;
  border-radius: 100%;
  border-color: $btnColor;
}
