.errorContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.errHeaderImg {
  margin-top: 80px;
  height: 200px;
}
.errorBody {
  margin: 100px;
}
.errFooterImg {
  height: 100px;
}
