@mixin inputBar {
  min-width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 2px -2px #e54f60;
  padding: 12px 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

header {
  background-color: #1d1c1c;
  color: white;
}

/* The Close Button */
.close {
  color: #fff;
  float: right !important;
  font-size: 28px !important;
  font-weight: bold;
  background-color: #e54f60 !important;
  padding: 6px 12px !important;
  border-radius: 100% !important;
  position: absolute;
  top: -10px !important;
  right: -10px !important;
  opacity: 1;
  padding: 0;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 1 !important;
  background-color: #3e4239 !important;
}

.form-control {
  @include inputBar();
  border-style: none !important;
}

.modalContainer input[type='submit'] {
  padding: 10px 15px !important;
  margin-top: 10px;
  border-radius: 100px;
  border-style: none;
  background-color: #fff;
  border-color: #d35866;
  border-style: inset;
  color: #d35866;
  font-weight: bold;
  cursor: pointer;
}

.modalContainer input[type='submit']:hover {
  background-color: #f34e62;
  color: #fff;
}

.modalContainer select {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 2px -2px #e54f60;
  padding: 12px 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 5px;
  color: gray;
}

.modalContainer option {
  color: black;
}
