.searchBar {
  max-width: 300px !important;
  float: left !important;
  border-radius: 5px !important;
  border-style: solid !important;
  padding: 5px !important;
  border-width: 3px;
  border-color: rgb(224, 224, 224);
}
